/target/
/result
/.direnv/
/.DS_Store
*.profraw
/.venv/
__pycache__/
/python/ionoray_geospace/*.so
examples/point-client/target/*
/.ionoray-cache/
/crates/models/hwm/cache/hwm14.tgz
/crates/models/msis/cache/nrlmsis2.1.tar.gz
/crates/models/iri/cache/iri2020.tar
/crates/models/igrf/data/igrf14coeffs.txt
/crates/models/hwm/data/reference-profiles.txt
/crates/indices/cache/Kp_ap_Ap_SN_F107_since_1932.txt
/crates/indices/cache/ig_rz.dat
/crates/indices/cache/apf107.dat
